{% extends 'base.html.twig' %}

{% block title %}Client{% endblock %}

{% block body %}
    <style>
        table {
            border: 1px solid #ccc;
            border-collapse: collapse;
            margin: 0;
            padding: 0;
            width: 100%;
            table-layout: fixed;
        }

        table caption {
            font-size: 1.5em;
            margin: .5em 0 .75em;
        }

        table tr {
            background-color: #f8f8f8;
            border: 1px solid #ddd;
            padding: .35em;
        }

        table th,
        table td {
            padding: .625em;
            text-align: center;

        }

        table th {
            font-size: .85em;
            letter-spacing: .1em;
            text-transform: uppercase;
        }

        @media screen and (max-width: 600px) {
            table {
                border: 0;
            }

            table caption {
                font-size: 1.3em;
            }

            table thead {
                border: none;
                clip: rect(0 0 0 0);
                height: 1px;
                margin: -1px;
                overflow: hidden;
                padding: 0;
                position: absolute;
                width: 1px;
            }

            table tr {
                border-bottom: 3px solid #ddd;
                display: block;
                margin-bottom: .625em;

            }

            table td {
                border-bottom: 1px solid #ddd;
                display: block;
                font-size: .8em;
                text-align: right;
            }

            table td::before {
                /*
                * aria-label has no advantage, it won't be read inside a table
                content: attr(aria-label);
                */
                content: attr(data-label);
                float: left;
                font-weight: bold;
                text-transform: uppercase;
            }

            table td:last-child {
                border-bottom: 0;
            }

        }
        input[type="text"]#client_recherche_social_reason {
            margin-left: 429px;
            /* text-align: right; */
            width: 231px
        }
        input[type="text"]#client_recherche_social_reason.form-control {
            display: block;
            */: ;
            margin: 6px;
            /* width: 5px; */
            margin-left: 299px;
            width: 76% !important;
            height: calc(1.5em + .75rem + 2px);
            padding: .375rem .75rem;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #495057;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            border-radius: .25rem;
            transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        }
        }
        .recherche{
            /* margin:-58px; */
            margin: -63px;
            margin-left: 148%;
        }
        .btn-success {
            color: #fff;
            background-color: #0d7526 !important;
            border-color: #0d7526 !important;
        }
        form{
            display: -webkit-box;
        }
     </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw==" crossorigin="anonymous" />
    <link rel="stylesheet" href="{{ asset('css/Navabar.css') }}">
    <div class="container mt-5">
        <h1 style="margin: 50px">Consommation</h1>
        <div class="d-flex justify-content-center align-items-center">
            <select class="form-control" multiple="multiple" id="search_consommation_input">
            </select>
            <button class="btn btn-primary recherche" type="submit" style="margin-left: 20px; width: 13%;"
                    onclick="window.Consommation().search('{{ path('search_consommation') }}', '{{ path('electricite_excel') }}');">
                <span class="spinner-border spinner-border-sm d-none" id="loader_search_btn_consommation" role="status" aria-hidden="true"></span>
                rechercher
                </button>
        </div>
        {% for message in app.flashes('danger') %}
            <div class="alert alert-danger p-md-2" style="margin: 50px;text-align: center;">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('succes') %}
            <div class="alert alert-success p-md-2" style="margin: 50px;text-align: center;">
                {{ message }}
            </div>
        {% endfor %}
        <table class="table table-bordered tableau d-none" style="margin: 48px 0 10px 0;width: 100%" id="list_consomation_table">
            <thead>
            <tr style="font-size: .7vw;">

                <th scope="col" class="align-middle"style="width: 12%">Horodatage</th>
                <th scope="col" class="align-middle"style="width: 10%">Identité </th>
                <th scope="col" class="align-middle" style="width: 22%">Adresse mail </th>
                <th scope="col" class="align-middle"style="width: 10%">Adresse physique </th>
                <th scope="col" class="align-middle"style="width: 10%">Numéro de PRM </th>
                <th scope="col" class="align-middle"style="width: 10%">Autorisation</th>
                <th scope="col" class="align-middle"style="width: 12%">Données techniques </th>
                <th scope="col" class="align-middle"style="width: 15%">Données contractuelles </th>
                <th scope="col" class="align-middle"style="width: 7%">Données de mesure </th>

            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
        <div>
            <a href="#" class="h6 d-none" id="consommtion_download_excel_link" target="_blank">Exporter en excel</a>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function () {
            $("#search_consommation_input").select2({
                tags: true,
            })
        });

    </script>
{% endblock %}