{% extends 'base.html.twig' %}

{% block title %}Electricite index{% endblock %}

{% block body %}
    <style>
        form{
            display: flex;
        }
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
<div class="container mt-5">
    <div class="col-md-auto" style="display: flex">
        <h5 class="col-md-auto" style="padding-top: 9px; margin-right: 15px;color: #26663b;font-weight: 900;">Liste des electriques</h5>
        <div class="input-group" style="display: flex">
            <div style="display: flex">
                <div style="display: flex;margin-left: 10px">
                    {{ form_start(form) }}
                    {{ form_row(form.PDL1) }}
                    <span class="input-group-append">
                        <button class="btn btn-outline-secondary bg-white border-bottom-0 border rounded-pill ms-n5" type="submit" style="margin-left: -30px;">
                            <i class="fa fa-search" style="width: 14px;padding: 4px"></i>
                        </button>
                    </span>
                    {{form_end(form)}}
                </div>

                <a  href="{{ path('client_new') }}" style="height: 35px;margin-left: 10px;background-color: #95c24e;border-radius: 10px;padding: 6px;text-decoration: none;color: white">Ajouter</a>
                {% if app.user %}
                    <div class="col" style="display: flex; margin-left:400px;">
                        <img class="avatar avatar-128 bg-light rounded-circle text-white p-2"
                             src="https://raw.githubusercontent.com/twbs/icons/main/icons/person-fill.svg"  >
                        <span class="name-user" style="margin-top: 15px">{{ app.user.username }}</span>

                    </div>


                {% endif %}
            </div>
        </div>
    </div>

    <table class="table table-striped table-bordered table-hover" style="width: 100%">
        <thead>
        <tr style="font-size: .7vw;">
            <th scope="col" class="align-middle"style="width: 10%">Raison sociale</th>
            <th scope="col" class="align-middle"style="width: 10%">PDL1</th>
            <th scope="col" class="align-middle"style="width: 10%">PDL2</th>
            <th scope="col" class="align-middle"style="width: 10%">PDL3</th>
            <th scope="col" class="align-middle"style="width: 10%">PDL4</th>
            <th scope="col" class="align-middle"style="width: 10%">PDL5</th>
            <th scope="col" class="align-middle"style="width: 10%">PDL6</th>
            <th scope="col" class="align-middle"style="width: 10%">PDL7</th>
            <th scope="col" class="align-middle"style="width: 10%">PDL8</th>
            <th scope="col" class="align-middle"style="width: 10%">PDL9</th>
            <th scope="col" class="align-middle"style="width: 10%">PDL10</th>
            <th scope="col" class="align-middle"style="width: 10%">PDL11</th>
            <th scope="col" class="align-middle"style="width: 10%">PDL12</th>
            <th scope="col" class="align-middle"style="width: 10%">PDL13</th>
            <th scope="col" class="align-middle"style="width: 10%">PDL14</th>
            <th scope="col" class="align-middle"style="width: 10%">PDL15</th>
            <th scope="col" class="align-middle"style="width: 10%">PDL16</th>
            <th scope="col" class="align-middle"style="width: 10%">PDL17</th>
            <th scope="col" class="align-middle"style="width: 10%">PDL18</th>
            <th scope="col" class="align-middle"style="width: 10%">PDL19</th>
            <th scope="col" class="align-middle"style="width: 10%">PDL20</th>
            <th scope="col" class="align-middle"style="width: 10%;text-align: center">actions</th>
        </tr>
        </thead>
        <tbody>
        {% for electricite in electricites %}

            <tr style="font-size: .7vw;">
                <td data-toggle="tooltip" title="{{ electricite.client.socialReason }}">{{ electricite.client.socialReason |slice(0,5)}}...</td>
                <td data-toggle="tooltip" title="{{electricite.PDL1}}">{{ electricite.PDL1 |slice(0,5)}}...</td>
                <td data-toggle="tooltip" title="{{electricite.PDL2}}">{{ electricite.PDL2 |slice(0,5)}}...</td>
                <td data-toggle="tooltip" title="{{electricite.PDL3}}">{{ electricite.PDL3 |slice(0,5)}}...</td>
                <td data-toggle="tooltip" title="{{electricite.PDL4}}">{{ electricite.PDL4 |slice(0,5)}}...</td>
                <td data-toggle="tooltip" title="{{electricite.PDL5}}">{{ electricite.PDL5 |slice(0,5)}}...</td>
                <td data-toggle="tooltip" title="{{electricite.PDL6}}">{{ electricite.PDL6 |slice(0,5)}}...</td>
                <td data-toggle="tooltip" title="{{electricite.PDL7}}">{{ electricite.PDL7 |slice(0,5)}}...</td>
                <td data-toggle="tooltip" title="{{electricite.PDL8}}">{{ electricite.PDL8 |slice(0,5)}}...</td>
                <td data-toggle="tooltip" title="{{electricite.PDL9}}">{{ electricite.PDL9 |slice(0,5)}}...</td>
                <td data-toggle="tooltip" title="{{electricite.PDL10}}">{{ electricite.PDL10 |slice(0,5)}}...</td>
                <td data-toggle="tooltip" title="{{electricite.PDL11}}">{{ electricite.PDL11 |slice(0,5)}}...</td>
                <td data-toggle="tooltip" title="{{electricite.PDL12}}">{{ electricite.PDL12 |slice(0,5)}}...</td>
                <td data-toggle="tooltip" title="{{electricite.PDL13}}">{{ electricite.PDL13 |slice(0,5)}}...</td>
                <td data-toggle="tooltip" title="{{electricite.PDL14}}">{{ electricite.PDL14 |slice(0,5)}}...</td>
                <td data-toggle="tooltip" title="{{electricite.PDL15}}">{{ electricite.PDL15 |slice(0,5)}}...</td>
                <td data-toggle="tooltip" title="{{electricite.PDL16}}">{{ electricite.PDL16 |slice(0,5)}}...</td>
                <td data-toggle="tooltip" title="{{electricite.PDL17}}">{{ electricite.PDL17 |slice(0,5)}}...</td>
                <td data-toggle="tooltip" title="{{electricite.PDL18}}">{{ electricite.PDL18 |slice(0,5)}}...</td>
                <td data-toggle="tooltip" title="{{electricite.PDL19}}">{{ electricite.PDL19 |slice(0,5)}}...</td>
                <td data-toggle="tooltip" title="{{electricite.PDL20}}">{{ electricite.PDL20 |slice(0,5)}}...</td>
               <td style="display: flex">
                        <a href="{{ path('electricite_show', {'id': electricite.id}) }}" class="btn btn-info"  style="font-size: .7vw; display: flex"><i style="color: darkgreen;padding-left:5px" class="fa fa-eye" aria-hidden="true"></i>Voir</a>
                        <a href="{{ path('electricite_edit', {'id': electricite.id}) }}" class="btn btn-secondary"  style="font-size: .7vw; display: flex"><i class='bi bi-pencil' aria-hidden="true"></i>Modifier</a>
                   {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('electricite_delete', {'id': electricite.id}) }}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer?')" class="btn btn-danger"  style="font-size: .7vw; display: flex"><i class="bi bi-trash" ></i>Supprimer</a>
                   {% endif %}
               </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="22">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
<div class="navigation" style="text-align: center ;margin-right: 293px;font-size: .7vw;">

        {{ knp_pagination_render(electricites) }}
    </div>
</div>
{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
{% endblock %}
