{% extends 'base.html.twig' %}

{% block title %}Modification vendeur{% endblock %}

{% block body %}
    <style>
        .enregistrebtn {
            position: absolute;
            margin-left: 530px;
        }
        .form-check-label{
            margin-left: 10px;
            margin-top: 6px;
        }
    </style>

    <div class="container mt-5">
        <h1>Modification vendeur</h1>
        <a class="btn btn-success" href="{{ path('liste_user') }}" style="margin-left: 15px">Retour à liste</a>
        <div class="update mt-4">
            <div class="row g-3 align-items-center">
                {{ form_start(form) }}

                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">email</label>
                    {{ form_widget(form.email,{'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Nom</label>
                    {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Prenom</label>
                    {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Agence</label>
                    {{ form_widget(form.agence, {'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Mot de passe</label>
                    {{ form_widget(form.password, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Confirme mot de passe</label>
                    {{ form_widget(form.confirm_password, {'attr': {'class': 'form-control'}}) }}
                </div>

                    <div class="form-check mb-3">
                        {{ form_widget(form.IsValid, {'attr': {'class': 'form-check'}}) }}
                </div>
                <div class="text-center">

                    <button type="submit" class="btn btn-primary">Enregistrer</button>
                </div>
                {{ form_end(form) }}

            </div>
        </div>
    </div>

{% endblock %}
