{% extends 'base.html.twig' %}

{% block title %}Liste Vendeurs{% endblock %}

{% block body %}
    <style>
        form{
            display: flex;
            margin-left: 60%;
        }
    </style>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw==" crossorigin="anonymous" />
    <div class="container mt-5">
        <h1>Liste Vendeurs</h1>
    <table class="table table-bordered" style="width: 100%">
        <thead>
        <tr>
            <th style="text-align: center;width: 15%">Nom</th>
            <th style="text-align: center;width: 15%">Prenom</th>
            <th style="text-align: center;width: 20%">Email</th>
            <th style="text-align: center;width: 10%">Mot de passe</th>
            <th style="text-align: center;width: 10%">validation</th>
            <th style="text-align: center;width: 10%">actions</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}

            <tr style="font-size: .7vw;">
                <td data-toggle="tooltip" style="text-align: center">{{ user.name |slice(0,5)}}...</td>
                <td data-toggle="tooltip" style="text-align: center">{{ user.username |slice(0,5)}}...</td>
                <td data-toggle="tooltip" style="text-align: center">{{ user.email |slice(0,5)}}...</td>
                <td data-toggle="tooltip" style="text-align: center">{{ user.password }}</td>
                <td data-toggle="tooltip" style="text-align: center">{{ user.IsValid }}</td>
                <td style="display: flex;text-align: center">
                    <a href="{{ path('user_edit', {'id': user.id}) }}" ><i style="color: blue;padding-left:20px" class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                    <a href="{{ path('user_delete', {'id': user.id}) }}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer?')"><i style="color: red;padding-left:55px" class="fa fa-trash delete" aria-hidden="true"></i></a>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();
        });




    </script>
{% endblock %}