{% extends 'base.html.twig' %}

{% block title %}Client{% endblock %}

{% block body %}

    <style>
        h1{
            font-family: Courier New, monospace;
        }
        .show{
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .del{
            margin-top: 15px;
            width: 20px;
        }
        .btn{
            margin-left: 5px;
        }
        .electrique{
            display: none;
        }
        .gaz{
            display: none;
        }
        .gaz1{
            display: none;
        }
        .electric1{
            display: none;
        }
        .electric2{
            display: none;
        }
        .gaz2{
            display: none;
        }

        table {
            border: 1px solid #ccc;
            border-collapse: collapse;
            margin: 0;
            padding: 0;
            width: 100%;
            table-layout: fixed;
        }

        table caption {
            font-size: 1.5em;
            margin: .5em 0 .75em;
        }

        table tr {
            background-color: #f8f8f8;
            border: 1px solid #ddd;
            padding: .35em;
        }

        table th,
        table td, input,label,.form-control {
            padding: .625em;
            text-align: center;

        }

        table th, input,label,.form-control {
            font-size: .85em;
            letter-spacing: .1em;
            text-transform: uppercase;

        }
        input{
            padding: .625em;
            text-align: center;
        }

        @media screen and (max-width: 600px) {
            table {
                border: 0;
            }

            table caption {
                font-size: 1.3em;
            }

            table thead {
                border: none;
                clip: rect(0 0 0 0);
                height: 1px;
                margin: -1px;
                overflow: hidden;
                padding: 0;
                position: absolute;
                width: 1px;
            }

            table tr {
                border-bottom: 3px solid #ddd;
                display: block;
                margin-bottom: .625em;
            }

            table td,input,label,.form-control {
                border-bottom: 1px solid #ddd;
                display: block;
                font-size: .8em;
                text-align: right;
            }
            input{
                border-bottom: 1px solid #ddd;
                display: block;
                font-size: .8em;
                text-align: right;
            }

            table td::before {
                /*
                * aria-label has no advantage, it won't be read inside a table
                content: attr(aria-label);
                */
                content: attr(data-label);
                float: left;
                font-weight: bold;
                text-transform: uppercase;
            }

            table td:last-child {
                border-bottom: 0;
            }
        }

    </style>

    <div class="container mt-5">
        <h1>DEMANDE D'AUTORISATIONS</h1>
        <a style="right: " class="btn btn-success" href="{{ path('client_index') }}">Retour à liste</a>
        <table class="table table-bordered mt-4">
            <thead>
            <tr>
                <th scope="col" class="align-middle">Raison sociale </th>
                <th scope="col" class="align-middle">Siren </th>
                <th scope="col" class="align-middle">Adresse du siège </th>
                <th scope="col" class="align-middle">Nom du Signataire </th>
                <th scope="col" class="align-middle">Fonction</th>
                <th scope="col" class="align-middle" style="width: 28%">Adresse mail </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td data-label=Raison_sociale>{{ client.socialReason }}</td>
                <td data-label=Siren>{{ client.mermaid }}</td>
                <td data-label=Adresse_du_siège>{{ client.address }}</td>
                <td data-label=Nom_du_Signataire>{{ client.nameOfSignatory }}</td>
                <td data-label=Fonction>{{ client.function }}</td>
                <td data-label=Adresse_mail>{{ client.mail }}</td>
            </tr>
            </tbody>
        </table>

        <form action="{{ path('Email_demande') }}" method="post">
            <input type="text" name="id_client" hidden value="{{ client.id }}">
            <div>
                <h3 class="mt-4 text-center">Détermination de périmètre du client</h3>
                <div class="form-check form-check-inline mt-4 text-center">
                    <input class="form-check-input" type="checkbox" name="gaz" id="gaz" value="gaz">
                    <img src="{{ asset('image/gaz.png') }}" class="mr-1" width="40" alt="">
                    <label class="form-check-label" for="inlineCheckbox1">GAZ NATUREL</label>
                </div>
                <div class="form-check form-check-inline text-center">
                    <input class="form-check-input" type="checkbox" name="electrique" id="electrique" value="electrique">
                    <img src="{{ asset('image/elec.png') }}" class="mr-1" width="40" alt="">
                    <label class="form-check-label" for="inlineCheckbox1">ELECTRICITE</label>
                </div>
            </div>
            <div class="jumbotron mt-2 electrique text-center">
                <h4>ELECTRICITE</h4>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="electric1" id="electric1" value="- DE 20 ELECTRIQUE">
                    <label class="form-check-label" for="inlineCheckbox1">- DE 20 COMPTEURS</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox"  name="electric2" id="electric2" value="+ DE 20 ELECTRIQUE">
                    <label class="form-check-label" for="inlineCheckbox1">+ DE 20 COMPTEURS</label>
                </div>
            </div>
            <div class="jumbotron mt-2 gaz text-center">
                <h4>GAZ NATUREL</h4>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="gaz1" id="gaz1" value="- DE 20 GAZ">
                    <label class="form-check-label" for="inlineCheckbox1">- DE 20 COMPTEURS</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="gaz2" id="gaz2" value="+ DE 20 GAZ">
                    <label class="form-check-label" for="inlineCheckbox1">+ DE 20 COMPTEURS</label>
                </div>
            </div>
            <div class="table table-gaz mt-4 gaz1">
            <h5 colspan="5" class="text-center"> périmètre-gaz naturel</h5>
                <table class="table table-bordered ">
                    <tr>
                        <tr><td rowspan="2">
						  <label for="disabledTextInput" class="form-label">PCE1</label>
						  <input class="form-control" type="number" name="PCE1" id="PCE1"  value="0">
						</td></tr>
                        <tr><td rowspan="2">
							<label for="disabledTextInput" class="form-label">PCE11</label>
							<input class="form-control" type="number" name="PCE11" id="PCE11"value="0">
						</td></tr>
                        <tr><td rowspan="2">
							<label for="disabledTextInput" class="form-label">PCE2</label>
							<input class="form-control" type="number" name="PCE2" id="PCE2"value="0">
						</td></tr>
                        <tr><td rowspan="2">
							<label for="disabledTextInput" class="form-label">PCE12</label>
							<input class="form-control" type="number" name="PCE12" id="PCE12"value="0">
						</td></tr>
                        <tr><td rowspan="2">
							<label for="disabledTextInput" class="form-label">PCE3</label>
							<input class="form-control" type="number" name="PCE3" id="PCE3"value="0">
						</td></tr>
                        <tr><td rowspan="2">
							<label for="disabledTextInput" class="form-label">PCE13</label>
							<input class="form-control" type="number" name="PCE13" id="PCE13"value="0">
						</td></tr>
                        <tr><td rowspan="2">
							<label for="disabledTextInput" class="form-label">PCE4</label>
							<input class="form-control" type="number" name="PCE4" id="PCE4"value="0">
						</td></tr>
                        <tr><td rowspan="2">
							<label for="disabledTextInput" class="form-label">PCE14</label>
							<input class="form-control" type="number" name="PCE14" id="PCE14"value="0">
						</td></tr>
                        <tr><td rowspan="2">
							<label for="disabledTextInput" class="form-label">PCE5</label>
							<input class="form-control" type="number" name="PCE5" id="PCE5"value="0">
						</td></tr>
                          <tr><td rowspan="2">
							<label for="disabledTextInput" class="form-label">PCE15</label>
							<input class="form-control" type="number" name="PCE15" id="PCE15"value="0">
						</td></tr>
                    </tr>
                    <tr>
                         <tr><td rowspan="2">
							<label for="disabledTextInput" class="form-label">PCE6</label>
							<input class="form-control" type="number" name="PCE6" id="PCE6"value="0">
						</td></tr>
                        <tr><td rowspan="2">
							<label for="disabledTextInput" class="form-label">PCE16</label>
							<input class="form-control" type="number" name="PCE16" id="PCE16"value="0">
						</td></tr>
                        <tr><td rowspan="2">
							<label for="disabledTextInput" class="form-label">PCE7</label>
							<input class="form-control" type="number" name="PCE7" id="PCE7"value="0">
						</td></tr>
                         <tr><td rowspan="2">
							<label for="disabledTextInput" class="form-label">PCE17</label>
							<input class="form-control" type="number" name="PCE17" id="PCE17"value="0">
						</td></tr>
                        <tr><td rowspan="2">
							<label for="disabledTextInput" class="form-label">PCE8</label>
							<input class="form-control" type="number" name="PCE8" id="PCE8"value="0">
						</td></tr>
                        <tr><td rowspan="2">
							<label for="disabledTextInput" class="form-label">PCE18</label>
							<input class="form-control" type="number" name="PCE18" id="PCE18"value="0">
						</td></tr>
                        <tr><td rowspan="2">
							<label for="disabledTextInput" class="form-label">PCE9</label>
							<input class="form-control" type="number" name="PCE9" id="PCE9"value="0">
						</td></tr>
                        <tr><td rowspan="2">
							<label for="disabledTextInput" class="form-label">PCE19</label>
							<input class="form-control" type="number" name="PCE19" id="PCE19"value="0">
						</td></tr>
                        <tr><td rowspan="2">
							<label for="disabledTextInput" class="form-label">PCE10</label>
							<input class="form-control" type="number" name="PCE10" id="PCE10"value="0">
						</td></tr>
                         <tr><td rowspan="2">
							<label for="disabledTextInput" class="form-label">PCE20</label>
							<input class="form-control" type="number" name="PCE20" id="PCE20"value="0">
						</td></tr>
                    </tr>
                </table>
            </div>
            <div class="plus20 gaz2">
            <p id="plus20">Pour le(s) PCE dont la liste est annexée à la présente autorisation</p>
            </div>
            <div class="table table-electric mt-4 electric1">
                <table class="table table-bordered mt-4">
                        <h5 colspan="5" class="text-center"> périmètre-électricité</h5>
                    <tr>
                    <tr><td rowspan="2">
							<label for="disabledTextInput" class="form-label">PDL1</label>
							<input class="form-control" type="number" name="PDL1" id="PDL1"value="0">
					</td></tr>
                    <tr><td rowspan="2">
							<label for="disabledTextInput" class="form-label">PDL11</label>
							<input class="form-control" type="number" name="PDL11" id="PDL11"value="0">
					</td></tr>
                    <tr><td rowspan="2">
							<label for="disabledTextInput" class="form-label">PDL2</label>
							<input class="form-control" type="number" name="PDL2" id="PDL2"value="0">
					</td></tr>
                     <tr><td rowspan="2">
							<label for="disabledTextInput" class="form-label">PDL12</label>
							<input class="form-control" type="number" name="PDL12" id="PDL12"value="0">
					</td></tr>
                    <tr><td rowspan="2">
							<label for="disabledTextInput" class="form-label">PDL3</label>
							<input class="form-control" type="number" name="PDL3" id="PDL3"value="0">
					</td></tr>
                     <tr><td rowspan="2">
							<label for="disabledTextInput" class="form-label">PDL13</label>
							<input class="form-control" type="number" name="PDL13" id="PDL13"value="0">
					</td></tr>
                    <tr><td rowspan="2">
							<label for="disabledTextInput" class="form-label">PDL4</label>
							<input class="form-control" type="number" name="PDL4" id="PDL4"value="0">
					</td></tr>
                     <tr><td rowspan="2">
							<label for="disabledTextInput" class="form-label">PDL14</label>
							<input class="form-control" type="number" name="PDL14" id="PDL14"value="0">
					</td></tr>
                    <tr><td rowspan="2">
							<label for="disabledTextInput" class="form-label">PDL5</label>
							<input class="form-control" type="number" name="PDL5" id="PDL6"value="0">
					</td></tr>
                    <tr><td rowspan="2">
							<label for="disabledTextInput" class="form-label">PDL15</label>
							<input class="form-control" type="number" name="PDL15" id="PDL15"value="0">
					</td></tr>
                    </tr>
                    <tr>
                    
                   <tr><td rowspan="2">
							<label for="disabledTextInput" class="form-label">PDL6</label>
							<input class="form-control" type="number" name="PDL6" id="PDL6"value="0">
					</td></tr>
                     <tr><td rowspan="2">
							<label for="disabledTextInput" class="form-label">PDL16</label>
							<input class="form-control" type="number" name="PDL16" id="PDL16"value="0">
					</td></tr>
                    <tr><td rowspan="2">
							<label for="disabledTextInput" class="form-label">PDL7</label>
							<input class="form-control" type="number" name="PDL7" id="PDL7"value="0">
					</td></tr>
                     <tr><td rowspan="2">
							<label for="disabledTextInput" class="form-label">PDL17</label>
							<input class="form-control" type="number" name="PDL17" id="PDL17"value="0">
					</td></tr>
                    <tr><td rowspan="2">
							<label for="disabledTextInput" class="form-label">PDL8</label>
							<input class="form-control" type="number" name="PDL8" id="PDL8"value="0">
					</td></tr>
                     <tr><td rowspan="2">
							<label for="disabledTextInput" class="form-label">PDL18</label>
							<input class="form-control" type="number" name="PDL18" id="PDL18"value="0">
					</td></tr>
                    <tr><td rowspan="2">
							<label for="disabledTextInput" class="form-label">PDL9</label>
							<input class="form-control" type="number" name="PDL9" id="PDL9"value="0">
					</td></tr>
                    <tr><td rowspan="2">
							<label for="disabledTextInput" class="form-label">PDL19</label>
							<input class="form-control" type="number" name="PDL19" id="PDL19"value="0">
					</td></tr>
                    <tr><td rowspan="2">
							<label for="disabledTextInput" class="form-label">PDL10</label>
							<input class="form-control" type="number" name="PDL10" id="PDL10"value="0">
					</td></tr>
                    <tr><td rowspan="2">
							<label for="disabledTextInput" class="form-label">PDL20</label>
							<input class="form-control" type="number" name="PDL20" id="PDL20"value="0">
					</td></tr>
                    </tr>
                </table>
            </div>
            <div class="plus20 electric2">
            <p id="plus20">Pour le(s) PDL dont la liste est annexée à la présente autorisation </p>
            </div>
            <div class="show">
                <button type="submit" class="btn btn-primary">Envoyez la demande</button>
            </div>
        </form>
    </div>
    {% block javascripts %}
        <script>
            $(document).ready(function() {
                $('#gaz').click(function () {
                    console.log('teste')
                    $('.gaz').toggle();
                     this.teste(electrique);
                    $('.electrique').hide();
                    $('#electrique').prop('checked', false);
                });

                $('#electrique').click(function () {
                    $('.electrique').toggle();
                     this.teste(gaz);
                    $('.gaz').hide();
                    $('#gaz').prop('checked', false);
                });

            });
             $('#gaz1').click(function () {
                    console.log('gaz1')
                    $('.gaz1').toggle();
                   //  this.haha(electrique);
                    $('.gaz2').hide();
                    $('#gaz2').prop('checked', false);
                });
                 $('#gaz2').click(function () {
                    console.log('haha')
                    $('.gaz2').toggle();
                    // this.haha(electrique);
                    $('.gaz1').hide();
                    $('#gaz1').prop('checked', false);
                });

                $('#electric1').click(function () {
                    console.log('electric1')
                    $('.electric1').toggle();
                   //  this.haha(electrique);
                    $('.electric2').hide();
                    $('#electric2').prop('checked', false);
                });
                 $('#electric2').click(function () {
                    console.log('haha')
                    $('.electric2').toggle();
                    // this.haha(electrique);
                    $('.electric1').hide();
                    $('#electric1').prop('checked', false);
                });
        </script>
    {% endblock %}
{% endblock %}
