{% extends 'base.html.twig' %}

{% block title %}Client{% endblock %}

{% block body %}

    <style>
        h1{
            font-family: Courier New, monospace;
        }
        .show{
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .del{
            margin-top: 15px;
            width: 20px;
        }
        .btn{
            margin-left: 5px;
        }
        .electrique{
            display: none;
        }
        .gaz{
            display: none;
        }
        .gaz1{
            display: none;
        }
        .electric1{
            display: none;
        }
        .electric2{
            display: none;
        }
        .gaz2{
            display: none;
        }

        table {
            border: 1px solid #ccc;
            border-collapse: collapse;
            margin: 0;
            padding: 0;
            width: 100%;
            table-layout: fixed;
        }

        table caption {
            font-size: 1.5em;
            margin: .5em 0 .75em;
        }

        table tr {
            background-color: #f8f8f8;
            border: 1px solid #ddd;
            padding: .35em;
        }

        table th,
        table td, input,label,.form-control {
            padding: .625em;
            text-align: center;

        }

        table th, input,label,.form-control {
            font-size: .85em;
            letter-spacing: .1em;
           /* text-transform: uppercase;*/

        }
        input{
            padding: .625em;
            text-align: center;
        }

        @media screen and (max-width: 600px) {
            table {
                border: 0;
            }

            table caption {
                font-size: 1.3em;
            }

            table thead {
                border: none;
                clip: rect(0 0 0 0);
                height: 1px;
                margin: -1px;
                overflow: hidden;
                padding: 0;
                position: absolute;
                width: 1px;
            }

            table tr {
                border-bottom: 3px solid #ddd;
                display: block;
                margin-bottom: .625em;
            }

            table td,input,label,.form-control {
                border-bottom: 1px solid #ddd;
                display: block;
                font-size: .8em;
                text-align: right;
            }
            input{
                border-bottom: 1px solid #ddd;
                display: block;
                font-size: .8em;
                text-align: right;
            }

            table td::before {
                /*
                * aria-label has no advantage, it won't be read inside a table
                content: attr(aria-label);
                */
                content: attr(data-label);
                float: left;
                font-weight: bold;
               /* text-transform: uppercase;*/
            }

            table td:last-child {
                border-bottom: 0;
            }
        }

    </style>

    <div class="container mt-5">
    <h3 style="text-align: center;">DEMANDE D'AUTORISATIONS</h3>
        <a style="right: " class="btn btn-success" href="{{ path('client_index') }}">Retour à liste</a>
        {% for message in app.flashes('success') %}
            <div class="alert alert-primary" style="background-color: #2e72ea!important;">
                {{ message }}
            </div>
        {% endfor %}
        <table class="table table-bordered mt-4" style="width: 100%;font-size: .7vw;">
            <thead>
            <tr>
                <th scope="col" class="align-middle">Raison sociale </th>
                <th scope="col" class="align-middle">Siren </th>
                <th scope="col" class="align-middle">Adresse du siège </th>
                <th scope="col" class="align-middle" style="width: 7%">Code postal</th>
                <th scope="col" class="align-middle" style="width: 12%">Ville</th>
                <th scope="col" class="align-middle">Nom du Signataire </th>
                <th scope="col" class="align-middle">Fonction</th>
                <th scope="col" class="align-middle" style="width: 28%">Adresse mail </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td data-label=Raison_sociale>{{ client.socialReason }}</td>
                <td data-label=Siren>{{ client.mermaid }}</td>
                <td data-label=Adresse_du_siège>{{ client.address }}</td>
                <td data-label="Code" postal>{{ client.PostalCode }}</td>
                <td data-label="Adresse_du_siège">{{ client.City }}</td>
                <td data-label=Nom_du_Signataire>{{ client.nameOfSignatory }}</td>
                <td data-label=Fonction>{{ client.function }}</td>
                <td data-label=Adresse_mail>{{ client.mail }}</td>
            </tr>
            </tbody>
        </table>

        {#<form action="{{ path('Email_demande') }}" method="post">#}
            {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
            <input type="text" name="id_client" hidden value="{{ client.id }}">
            <div>
                <h5 class="mt-4 text-center">Détermination de périmètre du client</h5>
                {% if isHasSelectedOne is same as(false) %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        Selectionner au moins une demande d'authorisation !
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endif %}
                <div class="form-check form-check-inline mt-4 text-center">
                    {{ form_widget(form.isNaturalGaz , {'attr': {'class': 'form-check-input', 'id': 'show-form-gaz'}}) }}
                    <img src="{{ asset('build/image/gaz.png') }}" class="mr-1" width="40" alt="">
                </div>
                <div class="form-check form-check-inline text-center">
                    {{ form_widget(form.isElectricite , {'attr': {'class': 'form-check-input', 'id': 'show-form-elec'}}) }}
                    <img src="{{ asset('build/image/elec.png') }}" class="mr-1" width="40" alt="">

                </div>
            </div>
            
            <div class="jumbotron mt-2 gaz text-center">
                <h5>GAZ NATUREL</h5>
                <div class="form-check form-check-inline">
                    {{ form_widget(form.isTwentyGaz , {'attr': {'class': 'form-check-input', 'id': 'show-form-gaz-twenty'}}) }}
                </div>
                <div class="form-check form-check-inline">
                    {{ form_widget(form.isMoreThanTwentyGaz , {'attr': {'class': 'form-check-input', 'id': 'show-form-gaz-than-twenty'}}) }}
                </div>
                <div class="table table-gaz mt-4 gaz1" id="form-gaz-twenty">
            <h5 colspan="5" class="text-center"> périmètre-gaz naturel</h5>
                <table class="table table-bordered " >
                    <tr>
                        <tr><td rowspan="2">
						  <label for="disabledTextInput" class="form-label">PCE1</label>
                            {{ form_widget(form.gazNatural.PCE1, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.gazNatural.PCE1) }}
						</td></tr>
                        <tr><td rowspan="2">
						  <label for="disabledTextInput" class="form-label">PCE11</label>
                            {{ form_widget(form.gazNatural.PCE11, {'attr': {'class': 'form-control'}}) }}
                                {{ form_errors(form.gazNatural.PCE11) }}
						</td></tr>
                        <tr><td rowspan="2">
						  <label for="disabledTextInput" class="form-label">PCE2</label>
                            {{ form_widget(form.gazNatural.PCE2, {'attr': {'class': 'form-control'}}) }}
                                {{ form_errors(form.gazNatural.PCE2) }}
						</td></tr>
                        <tr><td rowspan="2">
						  <label for="disabledTextInput" class="form-label">PCE12</label>
                            {{ form_widget(form.gazNatural.PCE12, {'attr': {'class': 'form-control'}}) }}
                                {{ form_errors(form.gazNatural.PCE12) }}
						</td></tr>
                        <tr><td rowspan="2">
						  <label for="disabledTextInput" class="form-label">PCE3</label>
                            {{ form_widget(form.gazNatural.PCE3, {'attr': {'class': 'form-control'}}) }}
                                {{ form_errors(form.gazNatural.PCE3) }}
						</td></tr>
                        <tr><td rowspan="2">
						  <label for="disabledTextInput" class="form-label">PCE13</label>
                            {{ form_widget(form.gazNatural.PCE13, {'attr': {'class': 'form-control'}}) }}
                                {{ form_errors(form.gazNatural.PCE13) }}
						</td></tr>
                        <tr><td rowspan="2">
						  <label for="disabledTextInput" class="form-label">PCE4</label>
                            {{ form_widget(form.gazNatural.PCE4, {'attr': {'class': 'form-control'}}) }}
                                {{ form_errors(form.gazNatural.PCE4) }}
						</td></tr>
                        <tr><td rowspan="2">
						  <label for="disabledTextInput" class="form-label">PCE14</label>
                            {{ form_widget(form.gazNatural.PCE14, {'attr': {'class': 'form-control'}}) }}
                                {{ form_errors(form.gazNatural.PCE14) }}
						</td></tr>
                        <tr><td rowspan="2">
						  <label for="disabledTextInput" class="form-label">PCE5</label>
                            {{ form_widget(form.gazNatural.PCE5, {'attr': {'class': 'form-control'}}) }}
                                {{ form_errors(form.gazNatural.PCE5) }}
						</td></tr>
                        <tr><td rowspan="2">
						  <label for="disabledTextInput" class="form-label">PCE15</label>
                            {{ form_widget(form.gazNatural.PCE15, {'attr': {'class': 'form-control'}}) }}
                                {{ form_errors(form.gazNatural.PCE15) }}
						</td></tr>
                    </tr>
                    <tr>
                    <tr><td rowspan="2">
                            <label for="disabledTextInput" class="form-label">PCE6</label>
                            {{ form_widget(form.gazNatural.PCE6, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.gazNatural.PCE6) }}
                        </td></tr>
                    <tr><td rowspan="2">
                            <label for="disabledTextInput" class="form-label">PCE16</label>
                            {{ form_widget(form.gazNatural.PCE16, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.gazNatural.PCE16) }}
                        </td></tr>
                    <tr><td rowspan="2">
                            <label for="disabledTextInput" class="form-label">PCE7</label>
                            {{ form_widget(form.gazNatural.PCE7, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.gazNatural.PCE7) }}
                        </td></tr>
                    <tr><td rowspan="2">
                            <label for="disabledTextInput" class="form-label">PCE17</label>
                            {{ form_widget(form.gazNatural.PCE17, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.gazNatural.PCE17) }}
                        </td></tr>
                    <tr><td rowspan="2">
                            <label for="disabledTextInput" class="form-label">PCE8</label>
                            {{ form_widget(form.gazNatural.PCE8, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.gazNatural.PCE8) }}
                        </td></tr>
                    <tr><td rowspan="2">
                            <label for="disabledTextInput" class="form-label">PCE18</label>
                            {{ form_widget(form.gazNatural.PCE18, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.gazNatural.PCE18) }}
                        </td></tr>
                    <tr><td rowspan="2">
                            <label for="disabledTextInput" class="form-label">PCE9</label>
                            {{ form_widget(form.gazNatural.PCE9, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.gazNatural.PCE9) }}
                        </td></tr>
                    <tr><td rowspan="2">
                            <label for="disabledTextInput" class="form-label">PCE19</label>
                            {{ form_widget(form.gazNatural.PCE19, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.gazNatural.PCE19) }}
                        </td></tr>
                    <tr><td rowspan="2">
                            <label for="disabledTextInput" class="form-label">PCE10</label>
                            {{ form_widget(form.gazNatural.PCE10, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.gazNatural.PCE10) }}
                        </td></tr>
                    <tr><td rowspan="2">
                            <label for="disabledTextInput" class="form-label">PCE20</label>
                            {{ form_widget(form.gazNatural.PCE20, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.gazNatural.PCE20) }}
                        </td></tr>

                    </tr>
                </table>
            </div>
            <div class="plus20 gaz2" id="form-gaz-plus20">
            <p id="plus20">Pour le(s) PCE dont la liste est annexée à la présente autorisation</p>
            </div>
            </div>
             

            <div class="jumbotron mt-2 electrique text-center">
                <h5>ELECTRICITE</h5>
                <div class="form-check form-check-inline">
                    {{ form_widget(form.isTwentyElec , {'attr': {'class': 'form-check-input', 'id': 'show-form-elec-twenty'}}) }}
                </div>
                <div class="form-check form-check-inline">
                    {{ form_widget(form.isMoreThanTwentyElec , {'attr': {'class': 'form-check-input', 'id': 'show-form-elec-than-twenty'}}) }}
                </div>
                <div class="table table-electric mt-4 electric1" id="form-elec-twenty">
                    <table class="table table-bordered" >
                        <tr>
                        <tr><td rowspan="2">
                                <label for="disabledTextInput" class="form-label">PDL1</label>
                                {{ form_widget(form.electricite.PDL1, {'attr': {'class': 'form-control'}}) }}
                                {{ form_errors(form.electricite.PDL1) }}
                            </td></tr>
                        <tr><td rowspan="2">
                                <label for="disabledTextInput" class="form-label">PDL11</label>
                                {{ form_widget(form.electricite.PDL11, {'attr': {'class': 'form-control'}}) }}
                                {{ form_errors(form.electricite.PDL11) }}
                            </td></tr>
                        <tr><td rowspan="2">
                                <label for="disabledTextInput" class="form-label">PDL2</label>
                                {{ form_widget(form.electricite.PDL2, {'attr': {'class': 'form-control'}}) }}
                                {{ form_errors(form.electricite.PDL2) }}
                            </td></tr>
                        <tr><td rowspan="2">
                                <label for="disabledTextInput" class="form-label">PDL12</label>
                                {{ form_widget(form.electricite.PDL12, {'attr': {'class': 'form-control'}}) }}
                                {{ form_errors(form.electricite.PDL12) }}
                            </td></tr>
                        <tr><td rowspan="2">
                                <label for="disabledTextInput" class="form-label">PDL3</label>
                                {{ form_widget(form.electricite.PDL3, {'attr': {'class': 'form-control'}}) }}
                                {{ form_errors(form.electricite.PDL3) }}
                            </td></tr>
                        <tr><td rowspan="2">
                                <label for="disabledTextInput" class="form-label">PDL13</label>
                                {{ form_widget(form.electricite.PDL13, {'attr': {'class': 'form-control'}}) }}
                                {{ form_errors(form.electricite.PDL13) }}
                            </td></tr>
                        <tr><td rowspan="2">
                                <label for="disabledTextInput" class="form-label">PDL4</label>
                                {{ form_widget(form.electricite.PDL4, {'attr': {'class': 'form-control'}}) }}
                                {{ form_errors(form.electricite.PDL4) }}
                            </td></tr>
                        <tr><td rowspan="2">
                                <label for="disabledTextInput" class="form-label">PDL14</label>
                                {{ form_widget(form.electricite.PDL14, {'attr': {'class': 'form-control'}}) }}
                                {{ form_errors(form.electricite.PDL14) }}
                            </td></tr>
                        <tr><td rowspan="2">
                                <label for="disabledTextInput" class="form-label">PDL5</label>
                                {{ form_widget(form.electricite.PDL5, {'attr': {'class': 'form-control'}}) }}
                                {{ form_errors(form.electricite.PDL5) }}
                            </td></tr>
                        <tr><td rowspan="2">
                                <label for="disabledTextInput" class="form-label">PDL15</label>
                                {{ form_widget(form.electricite.PDL15, {'attr': {'class': 'form-control'}}) }}
                                {{ form_errors(form.electricite.PDL15) }}
                            </td></tr>
                        </tr>
                        <tr>
                        <tr><td rowspan="2">
                                <label for="disabledTextInput" class="form-label">PDL6</label>
                                {{ form_widget(form.electricite.PDL6, {'attr': {'class': 'form-control'}}) }}
                                {{ form_errors(form.electricite.PDL6) }}
                            </td></tr>
                        <tr><td rowspan="2">
                                <label for="disabledTextInput" class="form-label">PDL16</label>
                                {{ form_widget(form.electricite.PDL16, {'attr': {'class': 'form-control'}}) }}
                                {{ form_errors(form.electricite.PDL16) }}
                            </td></tr>
                        <tr><td rowspan="2">
                                <label for="disabledTextInput" class="form-label">PDL7</label>
                                {{ form_widget(form.electricite.PDL7, {'attr': {'class': 'form-control'}}) }}
                                {{ form_errors(form.electricite.PDL7) }}
                            </td></tr>
                        <tr><td rowspan="2">
                                <label for="disabledTextInput" class="form-label">PDL17</label>
                                {{ form_widget(form.electricite.PDL17, {'attr': {'class': 'form-control'}}) }}
                                {{ form_errors(form.electricite.PDL17) }}
                            </td></tr>
                        <tr><td rowspan="2">
                                <label for="disabledTextInput" class="form-label">PDL8</label>
                                {{ form_widget(form.electricite.PDL8, {'attr': {'class': 'form-control'}}) }}
                                {{ form_errors(form.electricite.PDL8) }}
                            </td></tr>
                        <tr><td rowspan="2">
                                <label for="disabledTextInput" class="form-label">PDL18</label>
                                {{ form_widget(form.electricite.PDL18, {'attr': {'class': 'form-control'}}) }}
                                {{ form_errors(form.electricite.PDL18) }}
                            </td></tr>
                        <tr><td rowspan="2">
                                <label for="disabledTextInput" class="form-label">PDL9</label>
                                {{ form_widget(form.electricite.PDL9, {'attr': {'class': 'form-control'}}) }}
                                {{ form_errors(form.electricite.PDL9) }}
                            </td></tr>
                        <tr><td rowspan="2">
                                <label for="disabledTextInput" class="form-label">PDL19</label>
                                {{ form_widget(form.electricite.PDL19, {'attr': {'class': 'form-control'}}) }}
                                {{ form_errors(form.electricite.PDL19) }}
                            </td></tr>
                        <tr><td rowspan="2">
                                <label for="disabledTextInput" class="form-label">PDL10</label>
                                {{ form_widget(form.electricite.PDL10, {'attr': {'class': 'form-control'}}) }}
                                {{ form_errors(form.electricite.PDL10) }}
                            </td></tr>
                        <tr><td rowspan="2">
                                <label for="disabledTextInput" class="form-label">PDL20</label>
                                {{ form_widget(form.electricite.PDL20, {'attr': {'class': 'form-control'}}) }}
                                {{ form_errors(form.electricite.PDL20) }}
                            </td></tr>

                        </tr>
                    </table >
            </div>
            <div class="plus20 electric2" id="form-elec-plus20">
<p id="plus20" name="electricPlus20">
    Pour le(s) PDL dont la liste est annexée à la présente autorisation
</p>

            </div>
            </div>

            <div class="show">
                <button type="submit" class="btn btn-primary">Envoyez la demande</button>
            </div>
            {{ form_end(form) }}
    </div>
    {% block javascripts %}
        {{ parent() }}
        <script>
            $(document).ready(function() {
                $('.alert').alert()
                if ($('#authorization_request_isNaturalGaz').is(':checked')){
                    $('.gaz').show()
                }else{
                    $('.gaz').hide();
                }
                if ($('#authorization_request_isElectricite').is(':checked')){
                    $('.electrique').show()
                }else{
                    $('.electrique').hide();
                }
                if ($('#authorization_request_isMoreThanTwentyGaz').is(':checked')){
                    $('#form-gaz-plus20').show();
                    $('#form-gaz-twenty').hide();
                    document.getElementById('authorization_request_isTwentyGaz').checked = false;
                }else{
                    $('#form-gaz-plus20').hide();
                }
                if (!$('#authorization_request_isTwentyGaz').is(':checked')){
                    $('#form-gaz-twenty').hide();
                }else{
                    $('#form-gaz-plus20').hide();
                    $('#form-gaz-twenty').show();
                    document.getElementById('authorization_request_isMoreThanTwentyGaz').checked = false;
                }
                if ($('#authorization_request_isMoreThanTwentyElec').is(':checked')){
                    $('#form-elec-plus20').show();
                    $('#form-elec-twenty').hide();
                    document.getElementById('authorization_request_isTwentyElec').checked = false;
                }else{
                    $('#form-elec-plus20').hide();
                }
                if (!$('#authorization_request_isTwentyElec').is(':checked')){
                    $('#form-elec-twenty').hide();
                }else{
                    $('#form-elec-plus20').hide();
                    $('#form-elec-twenty').show();
                    document.getElementById('authorization_request_isMoreThanTwentyElec').checked = false;
                }
                $('#authorization_request_isNaturalGaz').click(function () {
                    if ($(this).is(':checked')){
                        $('.gaz').show()
                    }else{
                        $('.gaz').hide();
                    }
                });
                $('#authorization_request_isElectricite').click(function () {
                    if ($(this).is(':checked')){
                        $('.electrique').show()
                    }else{
                        $('.gelectriqueaz').hide();
                    }
                });
                $('#authorization_request_isMoreThanTwentyGaz').click(function () {
                    if ($(this).is(':checked')){
                        $('#form-gaz-plus20').show();
                        $('#form-gaz-twenty').hide();
                        document.getElementById('authorization_request_isTwentyGaz').checked = false;
                    }else{
                        $('#form-gaz-plus20').hide();
                    }
                });
                $('#authorization_request_isTwentyGaz').click(function () {
                    if (!$(this).is(':checked')){
                        $('#form-gaz-twenty').hide();
                    }else{
                        $('#form-gaz-plus20').hide();
                        $('#form-gaz-twenty').show();
                        document.getElementById('authorization_request_isMoreThanTwentyGaz').checked = false;
                    }
                });
                $('#authorization_request_isMoreThanTwentyElec').click(function () {
                    if ($(this).is(':checked')){
                        $('#form-elec-plus20').show();
                        $('#form-elec-twenty').hide();
                        document.getElementById('authorization_request_isTwentyElec').checked = false;
                    }else{
                        $('#form-elec-plus20').hide();
                    }
                });
                $('#authorization_request_isTwentyElec').click(function () {
                    if (!$(this).is(':checked')){
                        $('#form-elec-twenty').hide();
                    }else{
                        $('#form-elec-plus20').hide();
                        $('#form-elec-twenty').show();
                        document.getElementById('authorization_request_isMoreThanTwentyElec').checked = false;
                    }
                });
            });
        </script>
    {% endblock %}
{% endblock %}
