<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>

    h2{
        text-align: center;
        padding: 30px;
        margin: 10px;
    }
    .info{
        margin: 25px;
    }
    .access{
        margin: 25px;
    }
    .liste{
        margin: 25px;
    }
    ul li{
        list-style-type: '- ';
    }
    .presente{
        margin: 25px;
    }
    .center{
        border: 1px solid black;
        border-collapse: collapse;
        margin-left: auto;
        margin-right: auto;
       /* width: 500px;*/
       /* border: 1px solid #333;
        /*background-color: #333;*/
        color: #fff;
    }
    .underline{
        text-decoration: underline;
    }

    p{
        font: 1em;
    }
    .p1{
        line-height: 1em;
    }
    .p2, p3, p4{
        line-height: 1em;
    }
</style>
<body>
        <h2>AUTORISATION DE COMMUNICATION DE DONNEES A UN TIERS AUTORISE (GRDF)</h2>
        <div class="w3-container">
            <div class="info">

                <p class="p1">L’entreprise: <b>{{ entreprise }}</b></p>
                <p class="p2">Sous le SIREN: <b>{{ siren }}</b></p>
                <p class="p3">Ayant son siège à</p>
                <p class="p4">et représentée par : <b>{{ nom }}</b> FONCTION: <b>{{ fonction }}</b>,dûment habilité(e) à cet effet,
                    titulaire de contrat(s) unique(s) pour la fourniture de gaz naturel pour le(s) site(s)
                    de consommation mentionné(s) dans le tableau en annexe,
                </p>
            </div>
        <h4 style="margin: 25px;">AUTORISE</h4>
            <div class="access">
                <p>ACCESS ENERGIES, SIREN 851987198, ayant son siège au 240 CHEMIN DE L4OURAILLE 76940 LA MAILLERAYE SUR SEINE, et
                    <b>représentée par</b> M. DIAKITE Hamidou, dûment <b>habilité(s) à cet effet, à demander et recevoir directement de la part du
                        :
                        Gestionnaire de Réseau de Distribution (GRD) tous les paramètres nécessaires à l’établissement d’une proposition de
                        fourniture de gaz</b>  pour l’ensemble des points de comptage mentionné ci-dessous.
                </p>
            </div>

                <p style="margin: 25px;">Parmi les paramètres attendus pour chacun de ces sites :</p>
            <div class="liste">
                <ul>
                    <li>Le numéro des Points de Comptage et d’Estimation (PCE)</li>
                    <li>Leur mode de télérelève (J/J, M/J, etc.)</li>
                    <li>La Consommation Annuelle de Référence (CAR) de chaque PCE (kWh/an)</li>
                    <li>Les données historiques de consommation</li>
                    <li>Le type de profil</li>
                </ul>
            </div>
            <div class="presente">
                <p>La présente autorisation est nominative,
                    ne peut être cédée et est valable et consultable douze mois après la date designature du présent document.
                </p>
                <p>Toute cession, à titre gratuit ou onéreux, de tout ou partie de ces données transmises par GRDF à ce tiers en
                    application de la présente autorisation est interdite.
                </p>
                <p style="margin-left: 800px;text-decoration: underline" class="underline">signature </p>
                <p style="margin-left: 800px">{{ nom }}</p>
            </div>

        <h3 style="text-align: center;">Annexe : Liste des PCE concernés</h3>

        <table align="center" class="table-striped" style="border: 1px solid black;">
                <tr>
                    <td rowspan="2">PCE1: {{ PCE1 }}</td>
                </tr>
                <tr>
                    <td rowspan="2">PCE2: {{ PCE2 }}</td>
                </tr>
                <tr>
                    <td rowspan="2">PCE3: {{ PCE3 }}</td>
                </tr>
                <tr>
                    <td rowspan="2">PCE4: {{ PCE4 }}</td>
                </tr>
                <tr>
                    <td rowspan="2">PCE5: {{ PCE5 }}</td>
                </tr>
                <tr>
                    <td rowspan="2">PCE6: {{ PCE6}}</td>
                </tr>
                <tr>
                    <td rowspan="2">PCE7: {{ PCE7 }}</td>
                </tr>
                <tr>
                    <td rowspan="2">PCE8: {{ PCE8}}</td>
                </tr>
                <tr>
                    <td rowspan="2">PCE9: {{ PCE9}}</td>
                </tr>
                <tr>
                    <td rowspan="2">PCE10:{{ PCE10 }} </td>
                </tr>
                <tr>
                    <td rowspan="2">PCE11:{{ PCE11 }} </td>
                </tr>
                <tr>
                    <td rowspan="2">PCE12:{{ PCE12}}</td>
                </tr>
                <tr>
                    <td rowspan="2">PCE13:{{ PCE13}}</td>
                </tr>
                <tr>
                    <td rowspan="2">PCE14:{{ PCE14 }}</td>
                </tr>
                <tr>
                    <td rowspan="2">PCE15:{{ PCE15 }}</td>
                </tr>
                <tr>
                    <td rowspan="2">PCE16:{{ PCE16 }}</td>
                </tr>
                <tr>
                    <td rowspan="2">PCE17:{{ PCE17}}</td>
                </tr>
                <tr>
                    <td rowspan="2">PCE18:{{ PCE18 }}</td>
                </tr>
                <tr>
                    <td rowspan="2">PCE19:{{ PCE19 }}</td>
                </tr>
                <tr>
                    <td rowspan="2">PCE20:{{ PCE20 }}</td>
                </tr>

        </table>
        </div>
</body>
</html>