{% extends 'base.html.twig' %}

{% block title %}Edit Gaz{% endblock %}

{% block body %}
    <style>
        .enregistrebtn {
            position: absolute;
            margin-left: 530px;
        }
    </style>
<div class="container mt-5">
    <h1>Edit Gaz</h1>
    <a class="btn btn-success" href="{{ path('gaz_index') }}" style="margin-left: 70px">Retour à liste</a>
    <div class="update mt-4" style="margin-left: 8%">

            {{ form_start(form,{'attr':{'class':'row g-3 align-items-center'}}) }}

            <div class="col-auto">
                <label for="exampleFormControlInput1" class="form-label">pce1 </label>
                {{ form_widget(form.PCE1,{'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="col-auto">
                <label for="exampleFormControlInput1" class="form-label">pce2</label>
                {{ form_widget(form.PCE2,{'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="col-auto">
                <label for="exampleFormControlInput1" class="form-label">pce3</label>
                {{ form_widget(form.PCE3,{'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="col-auto">
                <label for="exampleFormControlInput1" class="form-label">pce4</label>
                {{ form_widget(form.PCE4,{'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="col-auto">
                <label for="exampleFormControlInput1" class="form-label">pce5</label>
                {{ form_widget(form.PCE5,{'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="col-auto">
                <label for="exampleFormControlInput1" class="form-label">pce6</label>
                {{ form_widget(form.PCE6,{'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="col-auto">
                <label for="exampleFormControlInput1" class="form-label">pce7</label>
                {{ form_widget(form.PCE7,{'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="col-auto">
                <label for="exampleFormControlInput1" class="form-label">pce8</label>
                {{ form_widget(form.PCE8,{'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="col-auto">
                <label for="exampleFormControlInput1" class="form-label">pce9</label>
                {{ form_widget(form.PCE9,{'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="col-auto">
                <label for="exampleFormControlInput1" class="form-label">pce10</label>
                {{ form_widget(form.PCE10,{'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="col-auto">
                <label for="exampleFormControlInput1" class="form-label">pce11</label>
                {{ form_widget(form.PCE11,{'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="col-auto">
                <label for="exampleFormControlInput1" class="form-label">pce12</label>
                {{ form_widget(form.PCE12,{'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="col-auto">
                <label for="exampleFormControlInput1" class="form-label">pce13</label>
                {{ form_widget(form.PCE13,{'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="col-auto">
                <label for="exampleFormControlInput1" class="form-label">pce14</label>
                {{ form_widget(form.PCE14,{'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="col-auto">
                <label for="exampleFormControlInput1" class="form-label">pce15</label>
                {{ form_widget(form.PCE15,{'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="col-auto">
                <label for="exampleFormControlInput1" class="form-label">pce16</label>
                {{ form_widget(form.PCE16,{'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="col-auto">
                <label for="exampleFormControlInput1" class="form-label">pce17</label>
                {{ form_widget(form.PCE17,{'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="col-auto">
                <label for="exampleFormControlInput1" class="form-label">pce18</label>
                {{ form_widget(form.PCE18,{'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="col-auto">
                <label for="exampleFormControlInput1" class="form-label">pce19</label>
                {{ form_widget(form.PCE19,{'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="col-auto">
                <label for="exampleFormControlInput1" class="form-label">pce20</label>
                {{ form_widget(form.PCE20,{'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="text-center">

                <button type="submit" class="btn btn-primary">Enregistrer</button>
            </div>
            {{ form_end(form) }}

    </div>
</div>
{% endblock %}
