{% extends 'base.html.twig' %}

{% block title %}Gaz index{% endblock %}

{% block body %}
    <style>
        form{
            display: flex;
            margin-left: 60%;
        }
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw==" crossorigin="anonymous" />
    <h1 style="margin: 25px;">Listes Gaz</h1>
    <div>
        {{ form_start(form) }}
        {{ form_row(form.PCE1) }}
        <button class="btn btn-primary recherche" type="submit" style="margin-left: 20px;height: 10%">rechercher</button>
        {{form_end(form)}}
    </div>
    <table class="table table-bordered" style="width: 100%">
        <thead>
            <tr style="font-size: .7vw;">
                <th>Raison sociale</th>
                <th>PCE1</th>
                <th>PCE2</th>
                <th>PCE3</th>
                <th>PCE4</th>
                <th>PCE5</th>
                <th>PCE6</th>
                <th>PCE7</th>
                <th>PCE8</th>
                <th>PCE9</th>
                <th>PCE10</th>
                <th>PCE11</th>
                <th>PCE12</th>
                <th>PCE13</th>
                <th>PCE14</th>
                <th>PCE15</th>
                <th>PCE16</th>
                <th>PCE17</th>
                <th>PCE18</th>
                <th>PCE19</th>
                <th>PCE20</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for gaz in gazs %}

            <tr style="font-size: .7vw;">
                <td>{{ gaz.client.socialReason }}</td>
                <td>{{ gaz.PCE1 }}</td>
                <td>{{ gaz.PCE2 }}</td>
                <td>{{ gaz.PCE3 }}</td>
                <td>{{ gaz.PCE4 }}</td>
                <td>{{ gaz.PCE5 }}</td>
                <td>{{ gaz.PCE6 }}</td>
                <td>{{ gaz.PCE7 }}</td>
                <td>{{ gaz.PCE8 }}</td>
                <td>{{ gaz.PCE9 }}</td>
                <td>{{ gaz.PCE10 }}</td>
                <td>{{ gaz.PCE11 }}</td>
                <td>{{ gaz.PCE12 }}</td>
                <td>{{ gaz.PCE13 }}</td>
                <td>{{ gaz.PCE14 }}</td>
                <td>{{ gaz.PCE15 }}</td>
                <td>{{ gaz.PCE16 }}</td>
                <td>{{ gaz.PCE17 }}</td>
                <td>{{ gaz.PCE18 }}</td>
                <td>{{ gaz.PCE19 }}</td>
                <td>{{ gaz.PCE20 }}</td>
                <td>
                        <a href="{{ path('gaz_show', {'id': gaz.id}) }}"><i style="color: darkgreen;padding-left:20px" class="fa fa-eye" aria-hidden="true"></i></a>
                        <a href="{{ path('gaz_edit', {'id': gaz.id}) }}"><i style="color: blue;padding-left:20px" class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('gaz_delete', {'id': gaz.id}) }}"><i style="color: red;padding-left:20px" class="fa fa-trash delete" aria-hidden="true"></i></a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="22">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation" style="text-align: center ;margin-right: 293px;font-size: .7vw;">
        {{ knp_pagination_render(gazs) }}
    </div>
{% endblock %}
