{% extends 'base.html.twig' %}

{% block title %}Gaz{% endblock %}

{% block body %}

<div class="container mt-5">
    <h1 style="margin: -10px;">Gaz</h1>
    <a style="right: 20px;margin: 15px" class="btn btn-success mt-4" href="{{ path('gaz_index') }}">Retour à liste</a>
    <table class="table table-bordered" style="width: 100%">
        <thead>
        <tr style="font-size: .7vw;">
            <th>Raison sociale</th>
            <th>PCE1</th>
            <th>PCE2</th>
            <th>PCE3</th>
            <th>PCE4</th>
            <th>PCE5</th>
            <th>PCE6</th>
            <th>PCE7</th>
            <th>PCE8</th>
            <th>PCE9</th>
            <th>PCE10</th>
            <th>PCE11</th>
            <th>PCE12</th>
            <th>PCE13</th>
            <th>PCE14</th>
            <th>PCE15</th>
            <th>PCE16</th>
            <th>PCE17</th>
            <th>PCE18</th>
            <th>PCE19</th>
            <th>PCE20</th>
            <th style="text-align: center">actions</th>
        </tr>
        </thead>
        <tbody>

            <tr style="font-size: .7vw;">
                <td>{{ gaz.client.socialReason }}</td>
                <td>{{ gaz.PCE1 }}</td>
                <td>{{ gaz.PCE2 }}</td>
                <td>{{ gaz.PCE3 }}</td>
                <td>{{ gaz.PCE4 }}</td>
                <td>{{ gaz.PCE5 }}</td>
                <td>{{ gaz.PCE6 }}</td>
                <td>{{ gaz.PCE7 }}</td>
                <td>{{ gaz.PCE8 }}</td>
                <td>{{ gaz.PCE9 }}</td>
                <td>{{ gaz.PCE10 }}</td>
                <td>{{ gaz.PCE11 }}</td>
                <td>{{ gaz.PCE12 }}</td>
                <td>{{ gaz.PCE13 }}</td>
                <td>{{ gaz.PCE14 }}</td>
                <td>{{ gaz.PCE15 }}</td>
                <td>{{ gaz.PCE16 }}</td>
                <td>{{ gaz.PCE17 }}</td>
                <td>{{ gaz.PCE18 }}</td>
                <td>{{ gaz.PCE19 }}</td>
                <td>{{ gaz.PCE20 }}</td>
                <td style="display: flex">
                    <a class="btn btn-primary" href="{{ path('gaz_edit', {'id': gaz.id}) }}" style="font-size: 10px;">Editer</a>
                    <a class="btn btn-danger" href="{{ path('gaz_delete', {'id': gaz.id}) }}" style="font-size: 10px;margin-left: 5px";>Supprimer</a>

                </td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}
