{% extends 'base.html.twig' %}

{% block title %}Gaz{% endblock %}

{% block body %}

<div class="container mt-5">
    <h1 style="margin: -10px;">Gaz</h1>
    <a style="right: 20px;margin: 15px" class="btn btn-success mt-4" href="{{ path('gaz_index') }}">Retour à liste</a>
    <table class="table table-bordered">
        <tbody>
            <tr>
                <th style="width: 50%">Id</th>
                <td style="width: 50%">{{ gaz.id }}</td>
            </tr>
            <tr>
                <th>PCE1</th>
                <td>{{ gaz.PCE1 }}</td>
            </tr>
            <tr>
                <th>PCE2</th>
                <td>{{ gaz.PCE2 }}</td>
            </tr>
            <tr>
                <th>PCE3</th>
                <td>{{ gaz.PCE3 }}</td>
            </tr>
            <tr>
                <th>PCE4</th>
                <td>{{ gaz.PCE4 }}</td>
            </tr>
            <tr>
                <th>PCE5</th>
                <td>{{ gaz.PCE5 }}</td>
            </tr>
            <tr>
                <th>PCE6</th>
                <td>{{ gaz.PCE6 }}</td>
            </tr>
            <tr>
                <th>PCE7</th>
                <td>{{ gaz.PCE7 }}</td>
            </tr>
            <tr>
                <th>PCE8</th>
                <td>{{ gaz.PCE8 }}</td>
            </tr>
            <tr>
                <th>PCE9</th>
                <td>{{ gaz.PCE9 }}</td>
            </tr>
            <tr>
                <th>PCE10</th>
                <td>{{ gaz.PCE10 }}</td>
            </tr>
            <tr>
                <th>PCE11</th>
                <td>{{ gaz.PCE11 }}</td>
            </tr>
            <tr>
                <th>PCE12</th>
                <td>{{ gaz.PCE12 }}</td>
            </tr>
            <tr>
                <th>PCE13</th>
                <td>{{ gaz.PCE13 }}</td>
            </tr>
            <tr>
                <th>PCE14</th>
                <td>{{ gaz.PCE14 }}</td>
            </tr>
            <tr>
                <th>PCE15</th>
                <td>{{ gaz.PCE15 }}</td>
            </tr>
            <tr>
                <th>PCE16</th>
                <td>{{ gaz.PCE16 }}</td>
            </tr>
            <tr>
                <th>PCE17</th>
                <td>{{ gaz.PCE17 }}</td>
            </tr>
            <tr>
                <th>PCE18</th>
                <td>{{ gaz.PCE18 }}</td>
            </tr>
            <tr>
                <th>PCE19</th>
                <td>{{ gaz.PCE19 }}</td>
            </tr>
            <tr>
                <th>PCE20</th>
                <td>{{ gaz.PCE20 }}</td>
            </tr>
        </tbody>
    </table>

    <div class="show" style="text-align: center;display: flex;margin-left: 480px;">
        <a class="btn btn-primary" href="{{ path('gaz_edit', {'id': gaz.id}) }}" style="width: 83px;height: 44px;">Editer</a>
        {{ include('gaz/_delete_form.html.twig') }}
    </div>
</div>
{% endblock %}
