{% if gazs is not empty %}
    {% for gaz in gazs %}
        <h2 style="background-color: grey; text-align: center;padding-top:15px; font-size: 14px;margin: -7px">
            AUTORISATION DE COMMUNICATION DE DONNEES A UN TIERS AUTORISE (GRDF)
        </h2>
        <p style="line-height: 4px;">L’entreprise: <b>{{ client.mermaid }}</b></p>
        <p style="line-height: 4px;">Sous le SIREN: <b>{{ client.getSocialReason() }}</b></p>
        <p style="line-height: 4px;">Ayant son siège à: <b>{{ client.address }}</b></p>
        <p>et représentée par : <b>{{ client.getNameOfSignatory() }}</b>,
            FONCTION:<b>{{ client.function }}</b>, dûment habilité(e) à cet effet, titulaire de contrat(s) unique(s) pour la fourniture de gaz naturel pour le(s) site(s)
            de consommation mentionné(s) dans le tableau en annexe,
        </p>
        <h4 style="font-weight: bold;">AUTORISE</h4>
        <p>ACCESS ENERGIES, SIREN 851987198, ayant son siège au 240 CHEMIN DE L4OURAILLE 76940 LA MAILLERAYE SUR SEINE, et
            <b>représentée par</b> M. DIAKITE Hamidou, dûment
            <b>habilité(s) à cet effet, à demander et recevoir directement de la part du : Gestionnaire de Réseau de Distribution (GRD) tous les paramètres nécessaires à l’établissement d’une proposition de fourniture de gaz</b>
            pour l’ensemble des points de comptage mentionné ci-dessous.
        </p>
        <p>Parmi les paramètres attendus pour chacun de ces sites :</p>
        <p style="margin-left: 50px; line-height: 1px;"> - Le numéro des Points de Comptage et d’Estimation (PCE)</p>
        <p style="margin-left: 50px; line-height: 1px;"> - Leur mode de télérelève (J/J, M/J, etc.)</p>
        <p style="margin-left: 50px; line-height: 1px;"> - La Consommation Annuelle de Référence (CAR) de chaque PCE (kWh/an)</p>
        <p style="margin-left: 50px; line-height: 1px;"> - Les données historiques de consommation</p>
        <p style="margin-left: 50px; line-height: 1px;"> - Le type de profil</p>
        <p>La présente autorisation est nominative,
            ne peut être cédée et est valable et consultable douze mois après la date designature du présent document.</p>
        <p>Toute cession, à titre gratuit ou onéreux, de tout ou partie de ces données transmises par GRDF à ce tiers en
            application de la présente autorisation est interdite.</p>

    <p style="margin-left: 50px">Fait à  {{ client.City }} Le {{ "now"|date("m/d/Y") }}</p>

    <p style="margin-left: 380px;text-decoration: underline" class="underline">signature + cachet commercial du client</p>
        <p style="margin-left: 380px; border:#000 1px solid; height: 78px; width: 260px;text-align: center">
            consentement digitalisé <br>
            le {{ "now"|date("d/m/y H:i:s") }} par <br>
            {{ client.Mail }} <br>
            {{ client.Telephone }}
        </p>
        <h3 style="font-size: 14px;">
            <b style="font-weight: 900">Annexe : Liste des PCE concernés</b>
        </h3>
        <table align="center" class="table-striped" style="border: 1px solid black; width: 80%; border-collapse: collapse;">
            
            <tr style="height:35px;">
                <td style="border: 1px solid black;width: 50%">PCE1: {{ gaz.PCE1 }}</td>
                <td style="border: 1px solid black;width: 50%">PCE11: {{ gaz.PCE11 }}</td>
            </tr>
            <tr style="height:35px;">
                <td style="border: 1px solid black;width: 50%">PCE2: {{ gaz.PCE2 }}</td>
                <td style="border: 1px solid black;width: 50%">PCE12: {{ gaz.PCE12 }}</td>
            </tr>
            <tr style="height:35px;">
                <td style="border: 1px solid black;width: 50%">PCE3: {{ gaz.PCE3 }}</td>
                <td style="border: 1px solid black;width: 50%">PCE13: {{ gaz.PCE13 }}</td>
            </tr>
            <tr style="height:35px;">
                <td style="border: 1px solid black;width: 50%">PCE4: {{ gaz.PCE4 }}</td>
                <td style="border: 1px solid black;width: 50%">PCE14: {{ gaz.PCE14 }}</td>
            </tr>
            <tr style="height:35px;">
                <td style="border: 1px solid black;width: 50%">PCE5: {{ gaz.PCE5 }}</td>
                <td style="border: 1px solid black;width: 50%">PCE15: {{ gaz.PCE15 }}</td>
            </tr>
            <tr style="height:35px;">
                <td style="border: 1px solid black;width: 50%">PCE6: {{ gaz.PCE6}}</td>
                <td style="border: 1px solid black;width: 50%">PCE16: {{ gaz.PCE16}}</td>
            </tr>
            <tr style="height:35px;">
                <td style="border: 1px solid black;width: 50%">PCE7: {{ gaz.PCE7 }}</td>
                <td style="border: 1px solid black;width: 50%">PCE17: {{ gaz.PCE17 }}</td>
            </tr>
            <tr style="height:35px;">
                <td style="border: 1px solid black;width: 50%">PCE8: {{ gaz.PCE8 }}</td>
                <td style="border: 1px solid black;width: 50%">PCE18: {{ gaz.PCE18 }}</td>
            </tr>
            <tr style="height:35px;">
                <td style="border: 1px solid black;width: 50%">PCE9: {{ gaz.PCE9 }}</td>
                <td style="border: 1px solid black;width: 50%">PCE19: {{ gaz.PCE19 }}</td>
            </tr>
            <tr style="height:35px;">
                <td style="border: 1px solid black;width: 50%">PCE10:{{ gaz.PCE10 }} </td>
                <td style="border: 1px solid black;width: 50%">PCE20:{{ gaz.PCE20 }} </td>
            </tr>
        </table>

    {% endfor %}
{% endif %}

