{% if electrics is not empty %}
<d>
        <h2>AUTORISATION DE COMMUNICATION DE DONNEES A UN TIERS AUTORISE (GRDF)</h2>
        <div class="w3-container">
        <div class="info">
            <p class="p1">L’entreprise:<b>{{ client.mermaid }}</p>
            <p class="p2">Sous le SIREN: <b>{{ client.SocialReason }}</b></p>
            <p class="p3">Ayant son siège à</p>
            <p class="p4">et <b>représentée</b> par : {{ client.NameOfSignatory }} FONCTION: <b>{{ client.function }}</b>, <b>dûment habilité(e) à cet effet,</b> titulaire de contrat(s) unique(s) pour la fourniture d’électricité pour le(s) site(s) de consommation mentionné(s) dans
                le tableau en annexe,
            </p>
        </div>
        <h4 style="margin: 25px;">AUTORISE</h4>
        <div class="access">
            <p>ACCESS ENERGIES, SIREN 851987198, ayant son siège au 240 CHEMIN DE L4OURAILLE 76940 LA MAILLERAYE SUR
                SEINE, et
                <b>représentée par</b> M. DIAKITE Hamidou, dûment <b>habilité(s) à cet effet, à demander et recevoir directement de la part du :
                    Gestionnaire de réseaux public de distribution d’électricité (ENEDIS)</b> société anonyme à directoire et à conseil de surveillance,
                au capital de 270 037 000 euros, immatriculée au Registre du Commerce et des Sociétés de Nanterre, sous le numéro 444 608 442, dont le siège social est situé Tour ENEDIS 34, Place
                des Corolles 92079 PARIS LA DEFENSE cedex
            </p>
        </div>

            <p style="margin: 25px;"><b>Les données de consommation disponibles cochées dans la liste ci-dessous, pour le(s) PDL dont la liste est annexée à la
        présente autorisation :</b></p>
        <div class="liste">
            <form>
                <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                <label for="vehicle1"> la puissance souscrite en cours programmée dans le compteur</label><br>
                <input type="checkbox" id="vehicle2" name="vehicle2" value="Car">
                <label for="vehicle2"> la formule tarifaire d’acheminement en cours</label><br>
                <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
                <label for="vehicle3"> le type de compteur</label><br>
                <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
                <label for="vehicle3"> la courbe de charge</label>
            </form>
        </div>
        <div class="presente">
                <p>La présente autorisation est nominative, ne peut être cédée et est valable et consultable douze mois après la date de
                    signature du présent document.
                </p>
                <p>Toute cession, à titre gratuit ou onéreux, de tout ou partie de ces données transmises par Enedis à ce tiers en
                    application de la présente autorisation est interdite
                </p>
            <p style="margin-left: 800px;text-decoration: underline" class="underline">signature </p>
            <p style="margin-left: 800px">{{ client.NameOfSignatory }}</p>
        </div>

        <h3 style="text-align: center;">Annexe : Liste des PDL concernés</h3>

        <table class="center" class="table-striped" style="border: 1px solid black;">
        {% for electric in electrics %} 
            <tr>
                <td rowspan="2"> PDL1: {{ electric.PDL1 }}</td>
            </tr>
            <tr>
                <td rowspan="2"> PDL2: {{ electric.PDL2 }}</td>
            </tr>
            <tr>
                <td rowspan="2"> PDL3: {{ electric.PDL3 }}</td>
            </tr>
            <tr>
                <td rowspan="2"> PDL4: {{ electric.PDL4 }}</td>
            </tr>
            <tr>
                <td rowspan="2"> PDL5: {{ electric.PDL5 }}</td>
            </tr>
            <tr>
                <td rowspan="2"> PDL6: {{ electric.PDL6 }}</td>
            </tr>
            <tr>
                <td rowspan="2"> PDL7: {{ electric.PDL7 }}</td>
            </tr>
            <tr>
                <td rowspan="2"> PDL7: {{ electric.PDL8 }}</td>
            </tr>
            <tr>
                <td rowspan="2"> PDL9: {{ electric.PDL9 }}</td>
            </tr>
            <tr>
                <td rowspan="2"> PDL10:{{ electric.PDL10 }}</td>
            </tr>
            <tr>
                <td rowspan="2"> PDL11:{{ electric.PDL11 }}</td>
            </tr>
            <tr>
                <td rowspan="2"> PDL12:{{ electric.PDL12 }}</td>
            </tr>
            <tr>
                <td rowspan="2"> PDL13:{{ electric.PDL13 }}</td>
            </tr>
            <tr>
                <td rowspan="2"> PDL14:{{ electric.PDL14 }}</td>
            </tr>
            <tr>
                <td rowspan="2"> PDL15:{{ electric.PDL15 }}</td>
            </tr>
            <tr>
                <td rowspan="2"> PDL16:{{ electric.PDL16 }}</td>
            </tr>
            <tr>
                <td rowspan="2"> PDL17:{{ electric.PDL17 }}</td>
            </tr>
            <tr>
                <td rowspan="2"> PDL18:{{ electric.PDL18 }}</td>
            </tr>
            <tr>
                <td rowspan="2"> PDL19:{{ electric.PDL19 }}</td>
            </tr>
            <tr>
                <td rowspan="2"> PDL20:{{ electric.PDL20 }}</td>
            </tr>
            {%endfor%}
        </table>
        
        </div>
        {% endif %}

