{% extends 'base.html.twig' %}

{% block title %}Client{% endblock %}

{% block body %}
    <style>
        table {
            border: 1px solid #ccc;
            border-collapse: collapse;
            margin: 0;
            padding: 0;
            width: 100%;
            table-layout: fixed;
        }

        table caption {
            font-size: 1.5em;
            margin: .5em 0 .75em;
        }

        table tr {
            background-color: #f8f8f8;
            border: 1px solid #ddd;
            padding: .35em;
        }

        table th,
        table td {
            padding: .625em;
            text-align: center;

        }

        table th {
            font-size: .85em;
            letter-spacing: .1em;
            text-transform: uppercase;
        }

        @media screen and (max-width: 600px) {
            table {
                border: 0;
            }

            table caption {
                font-size: 1.3em;
            }

            table thead {
                border: none;
                clip: rect(0 0 0 0);
                height: 1px;
                margin: -1px;
                overflow: hidden;
                padding: 0;
                position: absolute;
                width: 1px;
            }

            table tr {
                border-bottom: 3px solid #ddd;
                display: block;
                margin-bottom: .625em;
                
            }

            table td {
                border-bottom: 1px solid #ddd;
                display: block;
                font-size: .8em;
                text-align: right;
            }

            table td::before {
                /*
                * aria-label has no advantage, it won't be read inside a table
                content: attr(aria-label);
                */
                content: attr(data-label);
                float: left;
                font-weight: bold;
                text-transform: uppercase;
            }

            table td:last-child {
                border-bottom: 0;
            }

        }
        input[type="text"]#client_recherche_social_reason {
            margin-left: 429px;
            /* text-align: right; */
            width: 231px
        }
        input[type="text"]#client_recherche_social_reason.form-control {
       display: block;
    */: ;
    margin: 6px;
    /* width: 5px; */
    margin-left: 299px;
    width: 76% !important;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
        }
        .recherche{
            /* margin:-58px; */
            margin: -63px;
            margin-left: 148%;
        }
        .btn-success {
    color: #fff;
    background-color: #0d7526 !important;
    border-color: #0d7526 !important;
}
form{
    display: -webkit-box;
}
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw==" crossorigin="anonymous" />
    <div class="container mt-5">
        <h1 style="margin: 50px">Listes des Clients</h1>
        <div style="display:flex;height: 38px; margin: 0px;">
            <a class="btn btn-success" href="{{ path('client_new') }}">Nouveau Client</a>
            {{ form_start(form) }}
            {{ form_row(form.social_reason) }}
            <button class="btn btn-primary recherche" type="submit" style="margin-left: 200px;padding: 8px">rechercher</button>
            {{form_end(form)}}
        </div>
        {% for message in app.flashes('danger') %}
            <div class="alert alert-danger p-md-2" style="margin: 50px;text-align: center;">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('succes') %}
            <div class="alert alert-success p-md-2" style="margin: 50px;text-align: center;">
                {{ message }}
            </div>
        {% endfor %}
    <table class="table table-bordered" style="margin: 48px auto;width: 100%">
            <thead>
                    <tr style="font-size: .7vw;">
                        <th scope="col" class="align-middle"style="width: 10%">Raison sociale </th>
                        <th scope="col" class="align-middle"style="width: 15%">Siren </th>
                        <th scope="col" class="align-middle"style="width: 12%">téléphone </th>
                        <th scope="col" class="align-middle"style="width: 10%">Adresse du siège </th>
                        <th scope="col" class="align-middle"style="width: 7%">Code postal </th>
                        <th scope="col" class="align-middle"style="width: 12%">Ville </th>
                        <th scope="col" class="align-middle"style="width: 10%">Nom du Signataire </th>
                        <th scope="col" class="align-middle"style="width: 10%">Fonction</th>
                        <th scope="col" class="align-middle" style="width: 22%">Adresse mail </th>
                        <th scope="col" class="align-middle" style="width: 24%">actions</th>
                    </tr>
            </thead>
            <tbody>
            {% for client in clients %}
                    <tr style="font-size: .7vw;">

                        <td data-label=Raison_sociale>{{ client.socialReason }}</td>
                        <td data-label=Siren>{{ client.mermaid }}</td>
                        <td data-label=Siren>{{ client.telephone }}</td>
                        <td data-label=Adresse_du_siège>{{ client.address }}</td>
                        <td data-label=Code Postal>{{ client.PostalCode }}</td>
                        <td data-label=Adresse_du_siège>{{ client.City }}</td>
                        <td data-label=Nom_du_Signataire>{{ client.nameOfSignatory }}</td>
                        <td data-label=Fonction>{{ client.function }}</td>
                        <td data-label=Adresse_mail>{{ client.mail }}</td>
                        <td data-label=actions>
                                <a href="{{ path('client_show', {'id': client.id}) }}"><i style="color: darkgreen;padding-left:20px" class="fa fa-eye" aria-hidden="true"></i></a>
                                <a href="{{ path('client_edit', {'id': client.id}) }}"><i style="color: yellow;padding-left:20px" class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                        {% if is_granted('ROLE_ADMIN') %}
                                <a href="{{ path('client_delete', {'id': client.id}) }}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer?')"><i style="color: red;padding-left:20px" class="fa fa-trash delete" aria-hidden="true"></i></a>
                                <a href="{{ path('Ajout_demande', {'id': client.id}) }}"><i style="color: blue;padding-left:20px" class="fal fa-paper-plane" aria-hidden="true"></i></a>
                        {% endif %}
                        {% if client.valider == true  %}
                                <a ><i style="color: green;padding-left:20px" class="fa fa-check" aria-hidden="true"></i></a>
                        {% endif %}

                                <a href="{{ path('client_pdf', {'id': client.id}) }}" style="padding-left:20px">pdf</a>
                        </td>
                    </tr>
            {% else %}
                    <tr>
                        <td colspan="8">Aucun enregistrement trouvé</td>
                    </tr>
            {% endfor %}
            </tbody>
    </table>
        <div class="navigation" style="text-align: center">
            {{ knp_pagination_render(clients) }}
        </div>
    </div>


{% endblock %}