{% extends 'base.html.twig' %}

{% block title %}Client{% endblock %}

{% block body %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw==" crossorigin="anonymous" />
    <link rel="stylesheet" href="{{ asset('css/Navabar.css') }}">
            <div class="container mt-5"  style="max-width: 1325px;">
                <h1>Listes des Clients</h1>
                    <a class="btn btn-success" href="{{ path('client_new') }}" style="margin-left: 0px;">Nouveau Client</a>
                        <table class="table table-bordered mt-5" style="margin: 10px">
                            <thead>
                                <tr>
                                    <th>Raison sociale </th>
                                    <th>Siren</th>
                                    <th>Adresse du siège </th>
                                    <th>Nom du Signataire </th>
                                    <th>Fonction</th>
                                    <th>Adresse mail </th>
                                    <th>actions</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for client in clients %}
                                <tr>
                                    <td>{{ client.socialReason }}</td>
                                    <td>{{ client.mermaid }}</td>
                                    <td>{{ client.address }}</td>
                                    <td>{{ client.nameOfSignatory }}</td>
                                    <td>{{ client.function }}</td>
                                    <td>{{ client.mail }}</td>
                                    <td>
                                        <a href="{{ path('client_show', {'id': client.id}) }}"><i style="color: darkgreen;padding-left:20px" class="fa fa-eye" aria-hidden="true"></i></a>
                                        <a href="{{ path('client_edit', {'id': client.id}) }}"><i style="color: yellow;padding-left:20px" class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                        <a href="{{ path('Ajout_demande', {'id': client.id}) }}"><i style="color: blue;padding-left:20px" class="fal fa-paper-plane" aria-hidden="true"></i></a>
                                        <a href="{{ path('client_delete', {'id': client.id}) }}"><i style="color: red;padding-left:20px" class="fa fa-trash" aria-hidden="true"></i></a>
                                        {% if client.valider == true  %}
                                            <a ><i style="color: green;padding-left:20px" class="fa fa-check" aria-hidden="true"></i></a>
                                            {% endif %}
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="8">Aucun enregistrement trouvé</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                <div class="navigation" style="text-align: center">
                    {{ knp_pagination_render(clients) }}
                </div>
            </div>
{% endblock %}
