{% extends 'base.html.twig' %}

{% block title %}Client{% endblock %}

{% block body %}

    <div class="container mt-0">
        <h1 class="text-center mb-3">Nouveau Client</h1>
            <a class="btn btn-primary mb-3" href="{{ path('client_index') }}">Retour à liste</a>
            <div class="row g-3 align-items-center">
                {{ form_start(form) }}

                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Raison sociale</label>
                    {{ form_widget(form.social_reason,{'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Siren</label>
                    {{ form_widget(form.mermaid, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Téléphone</label>
                    {{ form_widget(form.telephone, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Adresse du siège</label>
                    {{ form_widget(form.address, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Code Postal</label>
                    {{ form_widget(form.PostalCode, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Ville</label>
                    {{ form_widget(form.city, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Nom du Signataire</label>
                    {{ form_widget(form.name_of_signatory, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Fonction</label>
                    {{ form_widget(form.function, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Adresse mail</label>
                    {{ form_widget(form.mail, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="text-center">

                        <button type="submit" class="btn btn-primary">Enregistre</button>
                </div>
                {{ form_end(form) }}
            </div>
    </div>
{% endblock %}
