{% extends 'base.html.twig' %}

{% block title %}Client{% endblock %}

{% block body %}
    <style>
        .del{
            margin-top: 15px;
            width: 20px;
        }
        .btn{
            margin-left: 5px;
        }
    </style>

    <div class="container mt-5">
        <h1>Client</h1>
            <a style="right: 20px" class="btn btn btn-primary mt-4" href="{{ path('client_index') }}">Retour à liste</a>
                <table class="table table-bordered mt-4">
                    <tbody>
                    <tr>
                        <th>Raison sociale </th>
                        <td>{{ client.socialReason }}</td>
                    </tr>
                    <tr>
                        <th>Siren</th>
                        <td>{{ client.mermaid }}</td>
                    </tr>
                    <tr>
                        <th>Téléphone</th>
                        <td>{{ client.telephone }}</td>
                    </tr>
                    <tr>
                        <th>Adresse du siège </th>
                        <td>{{ client.address }}</td>
                    </tr>
                    <tr>
                        <th>Code Postal </th>
                        <td>{{ client.PostalCode }}</td>
                    </tr>
                    <tr>
                        <th>Ville </th>
                        <td>{{ client.City }}</td>
                    </tr>
                    <tr>
                        <th>Nom du Signataire </th>
                        <td>{{ client.nameOfSignatory }}</td>
                    </tr>
                    <tr>
                        <th>Fonction</th>
                        <td>{{ client.function }}</td>
                    </tr>
                    <tr>
                        <th>Adresse mail </th>
                        <td>{{ client.mail }}</td>
                    </tr>
                    </tbody>
                </table>
     <div class="show" style="text-align: center;">

            <a class="btn btn-primary" href="{{ path('client_edit', {'id': client.id}) }}">Editer</a>
         {% if is_granted('ROLE_ADMIN') %}
            <a class="btn btn-danger" href="{{ path('client_delete', {'id': client.id}) }}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer?')">Supprimer</a>
        {% endif %}
     </div>

    </div>

{% endblock %}
