<style>
		body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}
header {
  padding: 20px 0;
  box-shadow: 0 4px 6px rgba(0,0,0,.2);  
}
.container {
  padding: 0 20px;

  margin: 0 auto;
}
.logo-box {
  float: left;
  margin-right: 20px;
}
.logo-box a {
  outline: none;
  display: block;
}
.logo-box img {display: block;
width:200px}
nav {
  overflow: hidden;
}
nav li {
  display: inline-block;
  margin-left: 25px;
  height: 93px;
  line-height: 70px;
  transition: .5s linear;
}
nav a {
  text-decoration: none;
  display: block;
  position: relative;
  color: #868686;
  text-transform: uppercase;
}
nav a:after {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: 15px;
  background: #868686;
  transition: width .5s linear;  
}
nav a:hover:after {width: 100%;}

@media screen and (max-width: 660px) {
  header {text-align: center;}
  .logo-box {
    float: none;
    display: inline-block;
    margin: 0 0 16px 0;
  }
  ul {float: none;}
  nav li:first-of-type {margin-left: 0;}
}
@media screen and (max-width: 550px) {
nav {overflow: visible;}
nav li {
  display: block;
  margin: 0;
  height: 40px;
  line-height: 40px;
}
nav li:hover {background: rgba(0,0,0,.1);}
nav a:after {content: none;}
}
    .nav-header a {
        text-decoration: none;
    }
    .nav-header a:hover {
        color: #868686;
    }
</style>

<header>
  <div class="container d-md-flex justify-content-between">
    <div class="logo-box">
      <a href="/">
        <img src="{{ asset('build/image/logo.png') }}">
      </a>
    </div>
    <nav class="nav-header">
    	{% if not app.user %}
	    	<ul>
		      <li><a href="{{ path('security_registration') }}">Inscription</a></li>
		      <li><a href="{{ path('security_login') }}">Connexion</a></li>
		{% else %}
		      <li><a href="{{ path('client_index') }}">Client</a></li>

                <li><a href="{{ path('gaz_index') }}">PCE</a></li>
                <li><a href="{{ path('electricite_index') }}">PDL</a></li>
            {% if is_granted('ROLE_ADMIN') %}
                <li><a href="{{ path('client_consommation') }}">CONSENTEMENT</a></li>
                <li><a href="{{ path('liste_user') }}">Liste Vendeurs</a></li>
            {% endif %}
		      <li> <a href="{{ path('security_logout') }}">Deconnexion</a></li>
      	{% endif %}
   			</ul>
  </nav>
  </div>
</header>